.item {
    width: 420px;
    height: 560px;
}
.slotlogo {
    margin-top: 10px;
}
button{
    margin-left: 15%;
}

.container{
    align-items: center;
    text-align: center;
}

/* Media Query for Mobile View */
@media screen and (max-width: 767px) {
    body{
        padding-top: 27%;
          
        }
    
       
        .item {
            width: 75%;
            height: 55%;
            margin-top: 20%;
            align-items: center;
          
        }
    
        .item img{
            width: 100px;
            height: 70px;
            align-items: center;
            text-align: center;
          
          
            
        }
        button{
          
            margin-bottom: 20px;
            width:15%;
            height: 25px;
            margin: 10px;
           
        }
        .description{
            font-size: 10px;
            padding: 20px;
            padding-top: 0px;
            text-align:left;
        }
        a{
            font-size: 8px;
            text-align: center;
            align-items: center;
          
           
        }
  }